<%if (typeof flash != 'undefined') { %>
	<div class="row">
		<div class="col-xs-6 col-md-3"></div>
		<div class="col-xs-6 col-md-6">              
			<div class="<%= flash.clase %>">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= flash.mensaje %>
			</div></div>
		<div class="col-xs-6 col-md-3"></div>
	</div>
<% } %>